<!--THIS IS WHERE WE CAN PUT THE USERS NOTES AND TIPS-->
<div class="notes-partial">
    <h2>Notes</h2>
    <div>        
        <!--does this need an {{#each}} {{/each}} to iterate over and display every snippet?-->
        <!--edit & delete buttons here--> {{note}}
                <!--{{#if edit}} code block for textarea
                <form><textarea name="userstory" rows="4" cols="50"></textarea>
                    <br>
                <input type="submit" value="Add+"></form>-->
    </div>
</div>