<!--THIS IS WHERE WE CAN DIRECT THE ACCEPTANCE CRITERIA ANSWERS-->
<div class="userstory-partial">
    <h3>Acceptance Criteria/User Story</h3>
    <div>
        <!--does this need an {{#each}} {{/each}} to iterate over and display every snippet?-->
        <!--edit & delete buttons here--> {{MindMap.acceptance_criteria}}
                <!--{{#if edit}} code block for textarea
                <form><textarea name="userstory" rows="4" cols="50"></textarea>
                    <br>
                <input type="submit" value="Add+"></form>-->
    </div>
</div>