<!--this main page will be our LOGIN PAGE, EVERYTHING ELSE WILL BE PARTIALS, here is where we should put the login since the 
actual homepage is going to be the user's dashboard-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main-page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        {{{ body }}}
    </main>
</body>
</html>