<!--UPON LOGIN, THIS IS THE USER'S DASHBOARD, with previous projects to the side, mind map example & new project button-->
<div class="dashboard-container">
    <div>
        <h2>Previous Mind Maps</h2>
        <!--{{#each}} to display all of the previous projects?-->
        {{title}} <!--should these be rendered as a button or a link?-->
    </div>
    <div>
        <h2>Start New Map</h2><button class="new-map">+</button>
        <!--link example photo here from a new assets folder-->
    </div>
</div>