
<div class="dashboard-container">
    <div>
        <h2>Previous Mind Maps</h2>
      
        {{title}} 
    </div>
    <div>
        <h2>Start New Map</h2><button class="new-map"></button>
       

    </div>
</div>