<div class="login-container">
    <div class="login-header">
        <h2>
            Mind Mapper
        </h2>
    </div>
    <div>
        <p>Please log in or sign up to begin creating your map</p>
    </div>
    <div class="login">
        <form>
            <input type="text" id="email" name="email" placeholder="Email">
        </form>
        <form>
            <input type="text" id="password" name="password" placeholder="Password">
        </form>
        <button type="login-btn">Log In</button>
    </div>
        <div class="signup">
            <form>
                <input type="text" id="name" placeholder="Name">
            </form>
        <form>
            <input type="text" id="email" name="email" placeholder="Email">
        </form>
        <form>
            <input type="text" id="password" name="password" placeholder="Password">
        </form>
        <button type="signup-btn">Sign Up</button>
    </div>
</div>