<!--LOGIN PAGE-->

<head>
    <meta charset="UTF-8">
    <title>Potluck Party</title>
    {{!-- CSS file(s) needed --}}
</head>

<body>
    </header>

    {{{ body }}}
    </main>
    </div>
</body>

</html>