<div class="login-signup-container">
    <div class="login-signup-header">
        <h2>
            Mind Mapper
        </h2>
    </div>
    <div>
        <p>Please log in or sign up to begin creating your map</p>
    </div>
    <div class="login">
        <form class="login-form">
        <form>
            <input type="text" id="login-email" name="email" placeholder="Email">
        </form>
        <form>
            <input type="text" id="login-pw" name="password" placeholder="Password">
        </form>
        <button type="button">Log In</button>
        </form>
    </div>
        <div class="signup">
            <form class="signup-form">
            <form>
                <input type="text" id="signup-name" placeholder="Name">
            </form>
        <form>
            <input type="text" id="signup-email" name="email" placeholder="Email">
        </form>
        <form>
            <input type="text" id="signup-pw" name="password" placeholder="Password">
        </form>
        <button type="button">Sign Up</button>
        </form>
    </div>
</div>