<!--THIS IS WHERE WE CAN PUT THE PACKAGES ANSWERS-->
<div class="pkg-container">
    <div>
        <h2>Packages</h2>
    </div>
    <div>
            <h3>Check the boxes to mark a package as installed</h3>
            <input type="checkbox"><!--{{#if checked}}--><span class="checkmark"></span>{{MindMap.pkg_name}}
    </div>
</div>