<!--AFTER USER CLICKS THE NEW PROJECT BUTTON IN dashboard.handlebars file, THIS IS THE QUESTION PAGE-->
<div class="questions">
    <div>
        <h3>What is the name of your project?</h3>
        <form>
            <input type="text" id="project-title" placeholder="Example Title"><button><span>Submit</span></button>
        </form>
    </div>
    <div class="checkbox-instructions">
        <h3>Add text to all that you would like to include in your mind map:</h3>
    </div>
    <div class="checkbox-questions">
        <div>
            <input type="checkbox" id="user-story-q"><span class="checkmark"></span>Acceptance Criteria
                            <form><textarea name="userstory" rows="4" cols="50"></textarea>
                    <br>
                <input type="submit" value="Add+"></form>
        </div>
        <div>
            <input type="checkbox" id="notes-q"><span class="checkmark"></span>Notes/Tips
                            <form><textarea name="notes" rows="4" cols="50"></textarea>
                    <br>
                <input type="submit" value="Add+"></form>
        </div>
        <div>
            <input type="checkbox" id="wireframe-q"><span class="checkmark"></span>Link to Wireframe
                            <form><textarea name="wireframe" rows="4" cols="50"></textarea>
                    <br>
                <input type="submit" value="Add+"></form>
        </div>
    </div>
    <div class="create"><button>CREATE</button></div>
</div>
<!--link js from public-->