<!--AFTER USER CLICKS THE NEW PROJECT BUTTON IN dashboard.handlebars file, THIS IS THE QUESTION PAGE-->
<div class="questions">
    <div>
        <h3>What is the name of your project?</h3>
        <form>
            <input type="text" id="project-title" placeholder="Example Title"><button><span>Submit</span></button>
        </form>
    </div>
    <div class="checkbox-instructions">
        <h3>Add text to all that you would like to include in your mind map:</h3>
    </div>
    <div class="checkbox-questions">
        <div>
            <h3>Acceptance Criteria</h3>
                <form id="userStoryForm">
                    <textarea name="userstory" rows="4" cols="50"></textarea>
                        <br>
                    <input type="submit" value="Add+">
                </form>
        </div>
        <div>
            <h3>Notes/Tips</h3>
                <form id="notesForm">
                    <textarea name="notes" rows="4" cols="50"></textarea>
                        <br>
                    <input type="submit" value="Add+">
                </form>
        </div>
        <div>
            <h3>Link to Wireframe</h3>
                <form id="wireframeForm">
                    <textarea name="wireframe" rows="4" cols="50"></textarea>
                        <br>
                    <input type="submit" value="Add+">
                </form>
        </div>
    </div>
    <!--have a button to direct us back to the dashboard with the created mindmap? lmk and i will add an event listener to the js file-->
</div>
<script src="/public/js/projectquestions.js"></script>