{{!-- <!--AFTER USER CLICKS THE NEW PROJECT BUTTON IN dashboard.handlebars file, THIS IS THE QUESTION PAGE-->
<!DOCTYPE html>
<div class="questions">
    <div>
        <h3>What is the name of your project?</h3>
        <form>
            <input type="text" id="project-title" placeholder="Example Title"><button><span>Submit</span></button>
        </form>
    </div>
    <div class="checkbox-instructions">
        <h3>Add text to all that you would like to include in your mind map:</h3>
    </div>
    <div class="checkbox-questions">
        <div>
            <h3>Acceptance Criteria</h3>
                <form id="userStoryForm">
                    <textarea name="userstory" rows="4" cols="50"></textarea>
                        <br>
                    <input type="submit" value="Add+">
                </form>
        </div>
        <div>
            <h3>Notes/Tips</h3>
                <form id="notesForm">
                    <textarea name="notes" rows="4" cols="50"></textarea>
                        <br>
                    <input type="submit" value="Add+">
                </form>
        </div>
        <div>
            <h3>Link to Wireframe</h3>
                <form id="wireframeForm">
                    <textarea name="wireframe" rows="4" cols="50"></textarea>
                        <br>
                    <input type="submit" value="Add+">
                </form>
        </div>
    </div>
    <!--have a button to direct us back to the dashboard with the created mindmap? lmk and i will add an event listener to the js file-->
</div>
<script src="/public/js/projectquestions.js"></script>
</html> --}}

    <style>
        @media (min-width: 645px) {
            .full-screen-container {
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 5%;
                padding-bottom: 5%;
            }
        }

    </style>
    <title>Mind Map</title>
<body class="bg-pink-100">
    <div class="bg-pink-500 text-white p-4">
        <h1 class="text-2xl font-semibold">Create Your Mind Map</h1>
    </div>

    <div class="container mx-auto mt-4 px-4">
        <form id="mindMapForm">
        <div class="bg-pink-200 shadow-md rounded-lg p-4">
            <label class="text-pink-800 text-2xl font-semibold">What is the name of your project?</label>
            <input type="text" id="inputTitle" class="w-full border rounded-lg p-2 mt-2">
        </div>
        

        <div class="mt-4">
            <div class="bg-pink-200 shadow-md rounded-lg p-4">
                <label class="text-pink-800 text-2xl font-semibold">Acceptance criteria?</label>
                <input type="text" id="inputCriteria" class="w-full border rounded-lg p-2 mt-2">
            </div>           
        </div>

        <div class="mt-4">
            <div class="bg-pink-200 shadow-md rounded-lg p-4">
                <label class="text-pink-800 text-2xl font-semibold">Notes to self or tips</label>
                <input type="text" id="inputNotes" class="w-full border rounded-lg p-2 mt-2">
            </div>
        </div>

        <div class="mt-4">
            <div class="bg-pink-200 shadow-md rounded-lg p-4">
                <label class="text-pink-800 text-2xl font-semibold">Link your wireframe</label>
                <input type="text" id="inputWireframe" class="w-full border rounded-lg p-2 mt-2">
            </div>
        
        </div>
        <div class="mt-4 text-center">
          <button id="finishBtn" class="bg-pink-500 hover:bg-pink-600 text-white rounded-lg p-3 mx-auto block w-1/2 text-white text-center font-semibold">Make Mind Map</button>
        </div>
        </form>
    </div>

    <script src="/js/projectquestions.js"></script>
</body>
</html>
